In [114]:
import pandas as pd
from sqlalchemy import create_engine

Extraccion

In [115]:
#importamos los datasets 
precios=pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Datasets/precios_semana_20200413.csv",encoding='utf-16')
precios1=pd.read_json("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Datasets/precios_semana_20200503.json")
producto=pd.read_parquet("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Datasets/producto.parquet")
sucursal=pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Datasets/sucursal.csv")
precios2=pd.read_excel("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/Datasets/precios_semanas_20200419_20200426.xlsx")

Tranformacion

In [116]:
def Funcion_Convert_int(datasets):
    if isinstance (datasets,str):
        datasets=datasets.split('-')[-1]
    elif isinstance (datasets,float):
         datasets=int(datasets)      
    else:
         datasets=datasets
    return int(datasets)

def BorrarNulos_BorrarDupli(datasest):
     datasest.dropna()
     datasest.drop_duplicates()
     return datasest

In [117]:
#asemos convercion de Objets a Int en datasest de producto ,sucursal,precios,precios1,precios2
producto.id=producto.id.apply(Funcion_Convert_int)
sucursal.id=sucursal.id.apply(Funcion_Convert_int)
precios.producto_id=precios.producto_id.dropna().apply(Funcion_Convert_int)
precios.sucursal_id=precios.sucursal_id.dropna().apply(Funcion_Convert_int)
precios1.sucursal_id=precios1.sucursal_id.dropna().apply(Funcion_Convert_int)
precios1.producto_id=precios1.producto_id.dropna().apply(Funcion_Convert_int)
precios1.precio=precios1.precio.apply(lambda x: None if x == '' else x)
precios1.precio=precios1.precio.dropna().apply(Funcion_Convert_int)
precios2.sucursal_id=precios2.sucursal_id.dropna().apply(Funcion_Convert_int)
precios2.producto_id=precios2.producto_id.dropna().apply(Funcion_Convert_int)

In [118]:
#borramos nulos y duplicados a los datasetsy eliminamos columna de nulos en el datasets de producto
producto=producto.drop(['categoria1','categoria2','categoria3'],axis=1)
producto=producto.apply(BorrarNulos_BorrarDupli)
sucursal=sucursal.apply(BorrarNulos_BorrarDupli)
precios=precios.apply(BorrarNulos_BorrarDupli)
precios1=precios1.apply(BorrarNulos_BorrarDupli)
precios2=precios2.apply(BorrarNulos_BorrarDupli)

In [119]:
#normalisacion de nombres de las columnas de los datasets 
producto.head(1)
producto.columns=['IdProductos', 'Marca', 'Nombre', 'Medida_de_Unidad']
sucursal.columns=['IdSucursal', 'IdComercio', 'IdBandera', 'Banderda_Descripcion','Comercio_RazonSocial','Provincia','Localidad','Direccion','Latitud','Longitud','Nombre_Sucursal','Tipo_de_Sucursal']
precios.columns=['Precio', 'IdProducto', 'IdSucursal']
precios1.columns=['Precio', 'IdProducto', 'IdSucursal']
precios2.columns=['Precio', 'IdSucursal', 'IdProducto']
#cambiamos de lugar una columna para evitar errores 
precios2=precios2[['Precio', 'IdProducto', 'IdSucursal']]

Load

In [125]:
#Creamos la conecccion a mysql con sqlachademy y procedemos a crear una funcion de carga
coneccionB=create_engine('mysql+pymysql://root:lunes@localhost:3306/DB', pool_size=50, max_overflow=0)

def LoadMysql(archivo,nombre): #Creacion De Funcion de Carga
    archivo.to_sql(name=nombre,con=coneccionB, if_exists= 'append', index=False)

In [ ]:
# Antes del siguiente paso creamos la base de datos,donde se cargara los datasests de producto 
# y sucursal y la tabla de precios generales donde se ara la carga incremental de los datasets
# de precios utilizando la erramienta MySql

In [130]:
#Cargamos ala base de datos en mysql
LoadMysql(producto,'Producto')
LoadMysql(sucursal,'Sucursal')
LoadMysql(precios,'Precios_General')
LoadMysql(precios1,'Precios_General')
LoadMysql(precios2,'Precios_General')

c:\Users\Esteban Armella\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Producto' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
c:\Users\Esteban Armella\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Sucursal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
c:\Users\Esteban Armella\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Precios_General' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)